services:
  - type: web
    name: django-app
    env: python
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn deg_predict.wsgi:application"

    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: deg_predict.settings
      - key: PYTHON_VERSION
        value: 3.10

    autoDeploy: true
