services:
  - type: web
    name: django-app
    env: python
    plan: free

    # working directory points to where manage.py is located
    workingDirectory: deg_predict/deb_predict

    # install dependencies from root requirements.txt (two levels up from workingDirectory)
    buildCommand: "pip install -r ../../requirements.txt && python manage.py collectstatic --noinput"
    startCommand: "gunicorn deb_predict.wsgi:application"

    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: deb_predict.settings
      - key: PYTHON_VERSION
        value: 3.10
