services:
  - type: web
    name: django-app
    env: python
    rootDir: dissertation
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn dissertation.wsgi:application --bind 0.0.0.0:8000"
    envVars:
      - key: DATABASE_URL
        sync: false
